<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cours js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/libs/css/main.css">
    <link rel="stylesheet" href="../src/libs/css/css/fontawesome.css">
    <link rel="stylesheet" href="../src/libs/css/css/brands.css">
    <link rel="stylesheet" href="../src/libs/css/css/solid.css">
    <link href="../src/libs/webfonts/fa-solid-900.ttf">
    <link href="../src/libs/webfonts/fa-solid-900.woff">
    <link href="../src/libs/webfonts/fa-solid-900.woff2">
</head>
<body>
<div class="container">
    <div class="col main">
        <h1>Cours js - Creation json</h1>
        <hr>
        <div class="col-12">
            <h3>La liste des produits</h3>
            <div class="produits">
                <table id="myTable" class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nom produit</th>
                        <th>Prix TTC</th>
                        <th>Cathégorie</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="retour">
            <a href="../index.html"><button type="button" class="btn btn-info">Retour</button> </a>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script defer src="../src/libs/jsFonts/all.js"></script>
<script src="../src/libs/js/creationJson.js" ></script>
</body>
</html>
