// -------------------------------
//     FOOTER VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*

    // *--------- COLORS ---------*

// ----------------------------
//     FOOTER STYLES
// ----------------------------