// -------------------------------
//     GENERAL VARIABLES
// -------------------------------

    // *--------- METRICS ---------*
    $base__container-width: 1280px;

// ----------------------------
//     GENERAL STYLES
// ----------------------------

body {
    background-color: $base__background-color;
}

.container {
    width: $base__container-width;
    margin: 100px auto;

    @extend %clearfix;
}