// -------------------------------
//     HEADER VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*

    // *--------- COLORS ---------*

// ----------------------------
//     HEADER STYLES
// ----------------------------