// -------------------------------
//     TYPOGRAPHY VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*
    $base__font-family: Helvetica, Arial, Tahoma, sans-serif;
    $base__font-size: 16px;
    $base__font-weight: 400;
    $base__font-weight--bold: 700;

    // *--------- COLORS ---------*
    $base__text-color: #000;

    // *--------- HEADINGS ---------*
    $heading__font-size--x-large: 36px;

// -------------------------------
//     TYPOGRAPHY STYLES
// -------------------------------

// *--------- GENERAL ---------*
body {
    font: $base__font-weight #{$base__font-size}/1 $base__font-family;
    color: $base__text-color;
}

strong {
    font-weight: $base__font-weight--bold;
}

a {
    color: inherit;

    @extend %transitionColor;
}

// *--------- HEADINGS ---------*
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 30px;

    font-weight: $base__font-weight--bold;
}

h1 {
    font-size: $heading__font-size--x-large;
}

// *--------- TEXT ---------*
p {
    margin-bottom: 30px;

    font-size: $base__font-size;
    color: lighten($base__text-color, 20);
}