<div class="page-header">
    <h2>{{ title }}</h2>
</div>

<form id="join-form" action="#">
    <div class="form-group row">
        <label class="col-xs-2 col-form-label" for="nickname">Podaj nick</label>
        <div class="col-xs-6">
            <input id="nick" class="form-control" type="text">
        </div>
        <dic class="col-xs-4">
            <button class="btn btn-primary">Dołącz</button>
        </dic>
    </div>
</form>

<form id="chat-form" action="#">
    <div id="chat-window" class="chat-window">
        <div class="chat-line">
            <div class="chat-line-time">12:33</div>
            <div class="chat-line-nick">Maciek</div>
            <div class="chat-line-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, magnam.</div>
        </div>

        <div class="chat-line">
            <div class="chat-line-time">12:34</div>
            <div class="chat-line-nick">Tomek</div>
            <div class="chat-line-message">Lorem ipsum dolor sit amet.</div>
        </div>

        <div class="chat-line">
            <div class="chat-line-time">12:34</div>
            <div class="chat-line-status">Tomek opuścił czat.</div>
        </div>
    </div>

    <div class="form-group">
        <textarea id="message" rows="7" class="form-control" placeholder="Twoja wiadomość..."></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary pull-xs-right">Wyślij</button>
    </div>
</form>