// -------------------------------
//     MIXINS
// -------------------------------

// box-sizing
@mixin box-sizing($type) {
    box-sizing: $type;
}

// clearfix
@mixin clearfix {
    &:before,
    &:after {
        content:" ";
        display:table;
    }

    &:after {
        clear:both;
    }

    & {
        *zoom:1;
    }
}

// Transitions
@mixin transition($props: all, $speed: 0.2s, $easing: ease-in-out) {
    transition: $props $speed $easing;
}